*{
  margin:0;
  padding:0;
}

body {
    background-image: url(img/back4.jpg);
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

.mostrar{
  display: grid;
}

.ocultar{
  display:none;
}

header{
    width: 100%;
    background-color:rgba(0, 0,0,.3);
    color:white;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

}

header h1{
  margin-left: 10px;
  font-size:30px;
  display: absolute;

}

.mamaDiv{
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows:12% 8% 20% 20% 20% 20%;
  width:100%;
  height: 100vh;
  box-sizing: border-box;
  margin:0 auto;
}

#imagen1{
  margin-top:-80px;
  margin-bottom:0px;
  margin-right: 200px;
  margin-left:200px;
  width:150px;
  border-radius:100px ;
  border: solid #339adf 5px;

}

#primeraPag {
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 3;
grid-row-end: 6;
background-color:white;
color:black;
box-sizing: border-box;
border: 3px solid#339adf;
border-radius: 20px;
text-align: center;
}

h1{
text-align: center;
}

#pregunta1{
font-family:'Josefin Sans', sans-serif;
font-size: 120%;
font-weight: bold;
}

#iconollave{
color: #FF7F50;
margin:10px;
}

#iconocandado{
color: #FF7F50;
margin:10px;
}

#info1{
font-family:'Montserrat';
}

.Boton2 {
color: white;
transition: all .5s;
background-color: #339adf;
width: 40%;
margin:0 auto;
height: 80%;
font-family:'Montserrat';
border-radius: 30px;
outline: none;
font-size: 90%;

}

.Boton2:hover{
background: #FF7F50;
color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}

.Boton1 {
color: white;
transition: all .5s;
background-color: #339adf;
width: 40%;
margin:0 auto;
height: 80%;
font-family:'Montserrat';
border-radius: 30px;
outline: none;
font-size: 90%;
}

.Boton1:hover{
  background: #FF7F50;
  color: #fff;
  box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
  }

#cifradoPag{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 6; 
background-color:white;
color:black;
box-sizing: border-box;
border: 3px solid #339adf;
border-radius: 20px;
text-align: center;
line-height: 30px;
}

infoCifrado1{
  font-family:'Josefin Sans', sans-serif;
  font-size: 120%;
  font-weight: bold;
}

#imagen2{
  margin-top:-80px;
  margin-bottom:0px;
  margin-right: 200px;
  margin-left:200px;
  width:150px;
  border-radius:100px ;
  border: solid #339adf 5px;
}

#inputNumero{
  width: 80px;
  height:50px;
  font-size:30px;
  font-family:'Montserrat';
}
#textMensaje{
  width: 300px;
  height:45px;
  font-size:18px;
  font-family:'Montserrat';
}

#btnCifrar{
color: white;
transition: all .5s;
background-color: #339adf;
width: 80px;
height:7%;
margin:0 auto;
font-family:'Josefin Sans';
outline: none;
border-radius: 30px;
font-size:90%;
}

#infoMensajeCifrado{
  font-family:'Josefin Sans', sans-serif;
  font-size: 120%;
  font-weight: bold;  
}

#btnCifrar:hover{
  background: #FF7F50;
  color: #fff;
  box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}

#btnVolver{
color: white;
transition: all .5s;
background-color: #339adf;
width: 40px;
height:7%;
margin:0 auto;
font-family:'Josefin Sans';
outline: none;
border-radius: 30px;
font-size: 100%;
}

#btnVolver:hover{
  background: #FF7F50;
  color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}

#btnLink1{
transition: all .5s;
background-color: #339adf;
width: 210px;
height:25px;
margin:0 auto;
font-family:'Josefin Sans';
outline: none;
border-radius: 30px;
}

#btnLink1:hover{
  background: #FF7F50;
  color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}

#aLink1{
background-color: #339adf;
color: white;
text-decoration: none;
display: inline-block;
 
}

#aLink1:hover{
  background: #FF7F50;
  color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}

#infoDeMensaje1{
  background-color: #FF7F50;
  border-radius: 30px;
  width: 80%;
  margin:0 auto;
  font-weight: normal;
  font-size: 18px;
  font-family:'Josefin Sans';
  color:#fff;
}


#respuestaEscrita{
  color:black;
  font-weight: normal;
  font-size: 18px;
  font-family:'Josefin Sans';
  background-color:#A1FF7B;
  border-radius: 30px;
  width: 80%;
  margin:0 auto;
  box-sizing: border-box;
}

#descifradoPag{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 6;
background-color:white;
color:black;
box-sizing: border-box;
border: 3px solid#339adf;
border-radius: 20px;
text-align: center;
line-height: 30px;
}

#imagen3{
  margin-top:-80px;
  margin-bottom:0px;
  margin-right: 200px;
  margin-left:200px;
  width:150px;
  border-radius:100px ;
  border: solid #339adf 5px;
}

#inputNumero2{
   width: 80px;
  height:50px;
  font-size:30px;
  font-family:'Montserrat';
}

#textMensaje2{
   width: 300px;
  height:45px;
  font-size:18px;
  font-family:'Montserrat';
}

#btnDescifrar{
  color: white;
transition: all .5s;
background-color: #339adf;
width: 90px;
height:7%;
margin:0 auto;
font-family:'Josefin Sans';
outline: none;
border-radius: 30px;
font-size:90%;
}

#btnDescifrar:hover{
  background: #FF7F50;
  color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}

#btnVolver2{
color: white;
transition: all .5s;
background-color: #339adf;
width: 40px;
height:7%;
margin:0 auto;
font-family:'Josefin Sans';
outline: none;
border-radius: 30px;
font-size: 100%;
}

#btnVolver2:hover{
  background: #FF7F50;
  color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}
#btnLink2{
  transition: all .5s;
  background-color: #339adf;
  width: 210px;
  height:25px;
  margin:0 auto;
  font-family:'Josefin Sans';
  outline: none;
  border-radius: 30px;
  
  }

#btnLink2:hover{
  background: #FF7F50;
  color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}

#aLink2{
  text-decoration: none;
  display: inline-block;
  color:white;
   
}

#aLink2:hover{
  background: #FF7F50;
  color: #fff;
box-shadow: 3px 3px 50px black rgba(0, 0,0,.15);
}
#infoDeMensaje2{
  background-color: #FF7F50;
  border-radius: 30px;
  width: 80%;
  margin:0 auto;
  font-weight: normal;
  font-size: 18px;
  font-family:'Josefin Sans';
  color:#fff;
}

#respuestaEscrita2{
  color:black;
  font-weight: normal;
  font-size: 18px;
  font-family:'Josefin Sans';
  background-color:#A1FF7B;
  border-radius: 30px;
  width: 80%;
  margin:0 auto;
  box-sizing: border-box;
}