body {
    background-color:  #99ff00;
}
    @import 'https://fonts.googleapis.com/css?family=Rubik+One';
    .div1 {
        background: white;
        color: black;
        text-align: center;
        font-size: 30px;
        height: 180px;
        width: 800px;
        padding: 0px 20px 500px;
        font-family: sans-serif;
        position: absolute;
    }
    
    .Boton1 {
        display: inline-block; 
        padding: 5px 10px;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        vertical-align:text-bottom;
        font-family: 'Rubik One', sans-serif;
        text-decoration: none;
        font-size: 3vw;
        transition: all .5s;
        background-color: #3498db;
        padding: 10px 20px 10px;
        margin: 40px 0px 0px 200px;